:host {
  background-color: var(--lingo-background-color);
  box-shadow: var(--lingo-shadow-color) 0 4px 0 0;
  padding: var(--lingo-padding);
  border-radius: var(--lingo-border-radius);
  color: var(--lingo-text-color);
  text-transform: uppercase;
}
